* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   display: flex; 
   font-family: 'Poppins', sans-serif;
   background-color: #EAEAF4;
}

.main-header {
   display: flex;
   flex-direction: column;
}

.left-sections {
    display:flex;
    flex-direction: column;
    align-items: center;
}
.idea-box {
    color: #EAEAF4;
    width: 100%;
    padding-right: 10px;
    padding-left: 10px;
    margin-left: 50px;
 }
 
 .starred-button {
    padding-right: 10px;
    padding-left: 10px;
    margin-left: 50px;
 }

.right-section {
    width: 100%;
    height: 100%;
}

.show-starred-ideas {
    background-color: #A8AAD2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.box-border {
    color: #1F1F3C;
    border-width: 3px;
    width: 75%;

}

.save-button {
    color: #EAEAF4;
    background: #1F1F3C;
    padding: 1%;
    width: 75%;
    text-align: center;
}

form {
   background-color: #A8AAD2;
   color: #1F1F3C;
   font-weight: 300;
   height: 50vh;
   width: 75vw;
   padding: 2vw 7vw;
}

.title-container {
   display: flex;
   justify-content: flex-start;
   align-items: baseline;
   gap: 0.75vw;
   padding-bottom: 4vh;
   margin-left: 0.9vw;
} 

.body-container {
   display: flex;
   justify-content: flex-start;
   align-items: baseline;
   gap: 0.75vw;
   padding-bottom: 2vh;
} 

.title-input,
.body-input {
   font-size: 2vw;
   background-color: #FFFFFF;
   border: 0.3vw solid #1F1F3C;
   width: 50vw;
}

.title-input {
   height: 8vh;
}

.body-input {
   height: 15vh;
}

.label {
   font-size: 2vw;
   font-weight: 300;
}

.save-button {
   background-color: #1F1F3C;
   border: 0.25vw solid #1F1F3C;
   color: #EAEAF4;
   font-size: 2.25vw;
   width: 50vw;
   height: 8vh;
   margin-left: 5.7vw; 
   cursor:pointer;
}